*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: arial, sans-serif;
    font-size: 13px;
}
nav{
    margin-top: 10px;
    margin-right: 10px;
}
ul{
    list-style: none;
    text-align: right;
}
li{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}
a{
    text-decoration: none;
    opacity: 0.75;
    color: black;
    
}
li img{
    width: 16px;
    
    height: 19px;
    padding:auto;
    padding-top: 4px;
    padding-bottom: auto;
    opacity: 0.6;
    
}
button{
    width: 95px;
    height: 35px;
    background-color:#1a73e8;
    color: #fff;
    border-style: none;
    border-radius: 2px;
    border-color: white;
    padding: 9px 23px;
    text-align: center;
    
    
}
.container{
    position: relative;
    left:40px;
    margin:auto;
    width: 350px;
    margin-top:150px;
    
}
form img{
    position: relative;
    top:-35px;
    left: 345px;
    width: 14px;
    height:20px;
}
form input{
    position: relative;
    left:-100px;
    margin-top: 25px;
    width : 484px;
    height:46px;
    border-radius: 20px;
    opacity: 0.1;
}
.homepage img{
    
}